:root {
    /* Primitive Colors */
    --color-brand-primary: #7786917c;
    /* Indigo */
    --color-brand-secondary: #164f95d9;
    /* Purple */

    --color-slate-50: #f8fafc;
    --color-slate-100: #f1f5f9;
    --color-slate-200: #e2e8f0;
    --color-slate-300: #cbd5e1;
    --color-slate-400: #94a3b8;
    --color-slate-500: #64748b;
    --color-slate-600: #475569;
    --color-slate-700: #334155;
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;
    --color-slate-950: #0f38ee98;

    --color-white: #ffffff;
    --color-black: #000000;

    /* Semantic Variables - Light Theme (Default) */
    --primary-color: var(--color-brand-primary);
    --primary-color-hover: #0c6ce4a2;
    --primary-color-active: #0d81ebe3;
    --primary-text: var(--color-white);

    --bg-color: var(--color-slate-50);
    --surface-color: var(--color-white);
    --text-primary: var(--color-slate-900);
    --text-secondary: var(--color-slate-600);

    --border-color: var(--color-slate-200);
}

[data-theme='dark'] {
    /* Semantic Variables - Dark Theme */
    --primary-color: var(--color-brand-primary);
    /* Often lighter in dark mode, but keeping consistant for now */
    --primary-color-hover: #2b358fbd;
    --primary-color-active: #2225dac5;
    --primary-text: var(--color-white);

    --bg-color: var(--color-slate-950);
    --surface-color: var(--color-slate-900);
    --text-primary: var(--color-slate-100);
    --text-secondary: var(--color-slate-400);

    --border-color: var(--color-slate-700);
}